@{
    ViewBag.Title = "About";
    ViewBag.bg = "cadetblue";
}
<div class="container body-content d-flex justify-content-around">
    <div class="d-flex flex-column justify-content-around">
        <div>
            <h2 class="text-white d-flex justify-content-around">@ViewBag.Message</h2>
            <hr/>
            <h4 style="width:450px;" class="ml-3">
                emarket is a site to view products and its information <br />
                also you can create product , update and delete it<br />
                and you can filtering the product by category name.
            </h4>
        </div>
    </div>
</div>