@{
    ViewBag.Title = "Contact";
    ViewBag.bg = "#a52a2aeb";
}
    <div class="container body-content d-flex justify-content-around">
        <div class="d-flex flex-column justify-content-around">
            <div style="width:450px;">
                <h2 class="text-white d-flex justify-content-around">@ViewBag.Message</h2>
                <hr />
                <address class="ml-3">
                    <h4>
                        emarket Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </h4>
                </address>

                <address class="ml-3">
                    <h4>
                        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                    </h4>
                </address>
            </div>
        </div>
     </div>