@{
    ViewBag.Title = "E - Market";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.style = @Styles.Render("~/Content/Index.css");
}


<section id="home">
    <div class="overlay">
        <h1><span>W</span>elcome <span>T</span>o <span>e</span>market</h1>
    </div>
</section>